/* 基本設定*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: sans-serif;
}


/*nav*/

.nav01 {
	background-color: black;
	color: #ffffff;
}

.nav01 nav {
	margin-left: 10%;
}

.nav01 ul li {
	list-style-type: none;
	display: inline-block;
	margin-right: 15px;
	font-size: 2em;
	padding-bottom: 5px;
	letter-spacing: 3px;
}

.nav01 a:hover {
	color: aquamarine;
	letter-spacing: 3px;
	text-decoration: none;
}

.nav01 a:link,
a:visited {
	color: #919191;
	letter-spacing: 3px;
	text-decoration: none;
}


/*row基本設定*/


/*讓區塊不會亂跑*/

.row:after {
	content: "";
	clear: both;
	display: block;
}


/*header*/

header {
	background-color: #e2e2e2;
	width: 81%;
	margin: 20px auto 30px auto;
	padding: 50px;
}

header h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

header p {
	font-size: 1.3em;
	line-height: 20px;
}

#button {
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #337fed;
	padding: 9px 18px;
	margin-top: 10px;
	text-decoration: none;
	background: -moz-linear-gradient( center top, #3381d4 5%, #3381d4 100%);
	background: -ms-linear-gradient( top, #3381d4 5%, #3381d4 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3381d4', endColorstr='#3381d4');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3381d4), color-stop(100%, #3381d4));
	background-color: #3381d4;
	color: #ffffff;
	display: inline-block;
	text-shadow: 1px 1px 0px 0px;
	-webkit-box-shadow: inset -1px 1px 0px 0px #3381d4;
	-moz-box-shadow: inset -1px 1px 0px 0px #3381d4;
	box-shadow: inset -1px 1px 0px 0px #3381d4;
}

#button:hover {
	background: -moz-linear-gradient( center top, #3381d4 5%, #3381d4 100%);
	background: -ms-linear-gradient( top, #3381d4 5%, #3381d4 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3381d4', endColorstr='#3381d4');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3381d4), color-stop(100%, #3381d4));
	background-color: #3381d4;
	color: #83f5ff;
}

#button:active {
	position: relative;
	top: 1px;
	color: #d99090;
}

#button a:link,
avisited {
	color: #ffffff;
}


/*第三部分*/

.lf {
	width: 80%;
	margin: 2px auto;
}

.lf h2 {
	font-size: 1.4em;
	padding: 5px;
}

.th01 {
	width: 80%;
	margin: 0 auto;
	clear: both;
	/*    當元素變為浮動視窗，不會縮排*/
	overflow: auto;
}

.thumbnail h3 {
	margin: 10px auto;
	font-size: 1.3em;
	text-align: center;
}

#button02 {
	float: left;
	width: 45%;
	/*	按鈕設定
	*/
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #337fed;
	text-align: center;
	padding: 5px;
	margin: 5px 5px;
	text-decoration: none;
	background: -moz-linear-gradient( center top, #3381d4 5%, #3381d4 100%);
	background: -ms-linear-gradient( top, #3381d4 5%, #3381d4 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3381d4', endColorstr='#3381d4');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3381d4), color-stop(100%, #3381d4));
	background-color: #3381d4;
	color: #ffffff;
	display: inline-block;
	text-shadow: 1px 1px 0px #0;
	-webkit-box-shadow: inset -1px 1px 0px 0px #3381d4;
	-moz-box-shadow: inset -1px 1px 0px 0px #3381d4;
	box-shadow: inset -1px 1px 0px 0px #3381d4;
}


/*按鈕設定*/

#button02:hover {
	background: -moz-linear-gradient( center top, #3381d4 5%, #3381d4 100%);
	background: -ms-linear-gradient( top, #3381d4 5%, #3381d4 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#3381d4', endColorstr='#3381d4');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #3381d4), color-stop(100%, #3381d4));
	background-color: #3381d4;
}

#button02:active {
	position: relative;
	top: 1px;
}

#button03 {
	float: left;
	width: 45%;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #3366ff;
	text-align: center;
	padding: 5px;
	margin: 5px 5px;
	text-decoration: none;
	background: -moz-linear-gradient( center top, #ffffff 5%, #ffffff 100%);
	background: -ms-linear-gradient( top, #ffffff 5%, #ffffff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ffffff));
	background-color: #ffffff;
	color: #0;
	display: inline-block;
	text-shadow: 1px 1px 0px #ffffff;
	-webkit-box-shadow: inset -1px 1px 0px 0px #53a6;
	-moz-box-shadow: inset -1px 1px 0px 0px #53a6;
	box-shadow: inset -1px 1px 0px 0px #53a6;
}

#button03:hover {
	background: -moz-linear-gradient( center top, #ffffff 5%, #ffffff 100%);
	background: -ms-linear-gradient( top, #ffffff 5%, #ffffff 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff');
	background: -webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffffff), color-stop(100%, #ffffff));
	background-color: #ffffff;
}

#button03:active {
	position: relative;
	top: 1px;
}

.thumbnail h3,
.thumbnail p,
.pac {
	width: 90%;
	margin: 10px auto;
	overflow: auto;
}

.thumbnail {
	float: left;
}


/*col基本設定*/

[class*="col-"] {
	width: 100%;
	float: left;
	/*	border-bottom: 1px solid black;*/
	padding: 10px;
}

@media screen and (min-width:992px) {
	.col-md-1 {
		width: calc(100%*1/12);
	}
	.col-md-2 {
		width: calc(100%*2/12);
	}
	.col-md-3 {
		width: calc(100%*3/12);
	}
	.col-md-4 {
		width: calc(100%*4/12);
	}
	.col-md-5 {
		width: calc(100%*5/12);
	}
	.col-md-6 {
		width: calc(100%*6/12);
	}
	.col-md-7 {
		width: calc(100%*7/12);
	}
	.col-md-8 {
		width: calc(100%*8/12);
	}
	.col-md-9 {
		width: calc(100%*9/12);
	}
	.col-md-10 {
		width: calc(100%*10/12);
	}
	.col-md-11 {
		width: calc(100%*11/12);
	}
	.col-md-12 {
		width: calc(100%*12/12);
	}
}

@media screen and (min-width:768px) and (max-width:991px) {
	.col-sm-1 {
		width: calc(100%*1/12);
	}
	.col-sm-2 {
		width: calc(100%*2/12);
	}
	.col-sm-3 {
		width: calc(100%*3/12);
	}
	.col-sm-4 {
		width: calc(100%*4/12);
	}
	.col-sm-5 {
		width: calc(100%*5/12);
	}
	.col-sm-6 {
		width: calc(100%*6/12);
	}
	.col-sm-7 {
		width: calc(100%*7/12);
	}
	.col-sm-8 {
		width: calc(100%*8/12);
	}
	.col-sm-9 {
		width: calc(100%*9/12);
	}
	.col-sm-10 {
		width: calc(100%*10/12);
	}
	.col-sm-11 {
		width: calc(100%*11/12);
	}
	.col-sm-12 {
		width: calc(100%*12/12);
	}
}


/*如果螢幕變小，圖片也不會超出螢幕*/

img {
	max-width: 100%;
}